.App {
  min-height: 100vh;
  color: var(--text-primary);
  background-color: var(--background);
  font-size: large;
  font-weight: bold;
  transition: all 0.5s;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.filter-button {
  margin: 1rem;
  padding: 0.5rem;
}
